@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');


:root{
    --darkMode:#1a1a1d;
    --lightMode:white;
    --blue:#4354a6;
    --pink:#d7cfe3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter";
    background-color:var(--darkMode);
    color: var(--pink);
}

body.lightMode{
    background-color: var(--white);
    color: black;
}


.container{
    position: relative;
}

.toggle{
    width: 100%;
    height: 40px;
    text-align: end;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.underline{
    position: relative;
    display: inline-block;
}

.underline::after{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 10px;
    background-image:url("Assets/blueunderline.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.toggle__right,
.toggle__left{
    position: absolute;
    transform: translate(-50%, -50%);
    fill:var(--pink) ;
}

body.lightMode .toggle__right,
body.lightMode .toggle__left{
    fill: var(--darkMode);
}

.hidden{
    opacity: 0;
}

.location__icon,
.header__mail,
.header__twitter,
.header__github {
    fill: var(--pink);
}

body.lightMode .location__icon,
body.lightMode .header__mail,
body.lightMode .header__twitter,
body.lightMode .header__github {
    fill: black;
}


section{
    max-width: 700px;
    margin: 0 auto 48px;
}

main{
    margin:auto;
    padding: 4rem 4rem 0;
    width: 100%;
}


.section__title{
    margin-bottom: 1rem;
}


.header__container{
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
    border: 15px solid transparent;
    border-image: url("Assets/marcoheader.svg") 30 stretch;
    padding: 10px;
}

.header__data{
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.header__name{
    font-size: 2rem;
}


.header__pic{
    width: 148px;
    border-radius: 60px;
}

.header__resume{
    font-size: 1rem;
}

.header__resume::after{
    content:" ";
    display: inline-flex;
    width: 20px;
    aspect-ratio: 4;
    background: radial-gradient(circle closest-side,var(--pink) 90%,#0000) 0/calc(100%/3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: l1 1s steps(4) infinite;
}

body.lightMode .header__resume::after{
    background: radial-gradient(circle closest-side,#000 90%,#eaea3100) 0/calc(100%/3) 100% space;
}

@keyframes l1 {
to {clip-path: inset(0 -34% 0 0)}
}

.bold{
    font-weight: 500;
}

.container__mail,
.header__location{
    display: inline-flex;
    gap: .2rem;
}



.container__icons{
    margin-top: .6rem;
}

/*About Section*/

.about__title{
    margin-bottom: 1rem;
}

p{
    line-height: 1.5;
    margin: 0;
    text-wrap: pretty;
}

.next{
    font-weight: bold;
    display: inline-flex;
    
}

.important{
    display: inline-block;
    background-color: var(--blue);
    color: white;
    border-radius: 10px;
    padding: .1rem;
    white-space: normal;
    word-break: break-word;
}


.highlight{
    clip-path: polygon(-5% 7%, 174% -24%, 87% 93%, 0% 100%);
    background-color: rgb(111, 124, 224);
    display: inline-block;
}

.highlightPink{
    clip-path: polygon(0% 0%, 790% -9%, 115% 92%, 75% 100%, 0% 100%);
    background-color: var(--pink);
    display: inline-block;
    color: var(--blue);
}

body.lightMode .highlightPink{
    color:var(--darkMode)
}

/*Proyectos*/
.projects__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.project__card{
    border: 15px solid transparent;
    border-image: url("Assets/marco.svg") 24 stretch;
    padding: 10px;
}

.project__title{
    margin-bottom: .7rem;
}

.project__title::after{
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-image: url('Assets/underline.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.project__paragraph{
    font-size: .9rem;
    min-height: 70px;
}

.project__link{
    display: flex;
    align-items: center;
    font-size: .8rem;
    gap: .2rem;
}

.project__links{
    display: flex;
    gap: 2rem;
}

.project__icon{
    fill:var(--pink);
}

body.lightMode .project__icon{
    fill: black;
}

a{
    text-decoration: none;
    color: var(--pink);
}

body.lightMode a{
    color: black;
}

a:hover{
    text-decoration: underline;
    color:rgb(111, 124, 224);
}

.paragraph{
    position: relative;
    display: inline-block;
}

/*Habilidades*/

.hab__list{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.hab__item{
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: #000;
    display: flex;
    font-size: .8rem;
    font-weight: 500;
    gap: 4px;
    padding: .2rem .6rem;
}

.footer{
    margin: auto;
    width: 100%;
    padding: 1rem 4rem 0;
    text-align: center;
    height: 50vh;
}

.footer__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.footer__figure{
    transform: scaleX(-1);
    width: 20%;
}

.footer__text{
    position: relative;
    display: inline-block;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    margin-bottom: 4rem;
}

.footer__text::after{
content: "";
  position: absolute;
  bottom: -19px;
  left: 0;
  width: 100%;
  height: 13px; 
  background-image: url('Assets/pinksmile.svg'); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

body.lightMode .footer__text::after{
    background-image: url('Assets/bluesmile.svg');
}

.footer__img{
    width: 100%;
}

.separator{
    background-image: url('Assets/line.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 100%;
}

.thanks__container{
    margin: 2rem 0;
}

.thanks__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__contact{
    font-size: 1rem;
}

.footer__mail{
    font-size: 1rem;
    margin-top: 2rem;
}

/*.footer__contact{
    position: relative;
}

.footer__contact::after{
    content: "";
    position: absolute;
    bottom: -19px;
    left: 63px;
    width: 100%;
    height: 32px; 
    background-image: url('Assets/arrow2.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    transform: rotateZ(-92deg);
}*/

.footer__mail{
    position: relative;
}

.footer__mail::after{
    content: "";
    position: absolute;
    bottom: 6px;
    right: 0;
    width: 100%;
    height: 28px; 
    background-image: url('Assets/spark2.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    transform: scaleX(-1);
}
.footer__mail::before{
    content: "";
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 100%;
    height: 28px; 
    background-image: url('Assets/spark2.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    
}


@media (min-width:768px) {
    .header__container{
        gap:5rem;
        flex-direction: row;
        align-items: unset;
    }
    figure{
        text-align: unset;
    }
    .footer__text{
        font-size: 4rem;
    }

}