@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --darkMode:#1a1a1d;
    --lightMode:#d7cfe3;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter";
    background-color: white;
    color: black;
}

body.darkMode{
    background-color: var(--darkMode);
    color: var(--lightMode);
}

/*LightDarkMode*/
.container{
    position: relative;
}
.toggle{
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.toggle__right,
.toggle__left{
    position: absolute;
    transform: translate(-50%, -50%);
    fill:var(--darkModeMode) ;
}
body.darkMode .toggle__right,
body.darkMode .toggle__left{
    fill: var(--lightMode);
}


.hidden{
    opacity: 0;
}


.location__icon,
.header__mail,
.header__twitter,
.header__github {
    fill: var(--darkMode);
}

body.darkMode .location__icon,
body.darkMode .header__mail,
body.darkMode .header__twitter,
body.darkMode .header__github {
    fill: var(--lightMode);
}



section{
    max-width: 700px;
    margin: 0 auto 48px;
}

main{
    margin:auto;
    padding: 4rem;
    width: 100%;
}

.section__title{
    margin-bottom: 1rem;
}

.header__container{
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
}

.header__data{
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.header__name{
    font-size: 2rem;
}

figure{
    text-align: center;
}

.header__pic{
    width: 148px;
    border-radius: 60px;
}

.header__resume{
    font-size: 1rem;
}

.header__resume::after{
    content:" ";
    display: inline-flex;
    width: 20px;
    aspect-ratio: 4;
    background: radial-gradient(circle closest-side,#000 90%,#0000) 0/calc(100%/3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: l1 1s steps(4) infinite;
}
body.darkMode .header__resume::after{
    background: radial-gradient(circle closest-side,var(--lightMode) 90%,#eaea3100) 0/calc(100%/3) 100% space;
}

@keyframes l1 {
to {clip-path: inset(0 -34% 0 0)}
}

.bold{
    font-weight: 500;
}

.container__mail,
.header__location{
    display: inline-flex;
    gap: .2rem;
}



.container__icons{
    margin-top: .6rem;
}

/*About Section*/
.about{
    display: flex;
    flex-direction: column;
}

.about__title{
    margin-bottom: 1rem;
}

p{
    line-height: 1.5;
    margin: 0;
    text-wrap: pretty;
}

.next{
    display: inline-flex;
}

.important{
    display: inline-block;
    background-color: rgb(111, 124, 224);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: .1rem;
    white-space: normal;
    word-break: break-word;
}

body.darkMode .important{
    background-color: var(--lightMode);
    color: var(--darkMode);
}

/*Proyectos*/
.projects__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-inline: -16px;
}

.project__card{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

body.darkMode .project__card{
    border: 1px solid var(--lightMode);
}

.project__title{
    margin-bottom: .7rem;
}


.project__paragraph{
    font-size: .9rem;
}

a{
    text-decoration: none;
    color: black;
}

body.darkMode a{
    color: var(--lightMode);
}

a:hover{
    text-decoration: underline;
    color:rgb(111, 124, 224);
}


/*Habilidades*/

.hab__list{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.hab__item{
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: #000;
    display: flex;
    font-size: .8rem;
    font-weight: 500;
    gap: 4px;
    padding: .2rem .6rem;
}

@media (min-width:768px) {
    .header__container{
        gap:5rem;
        flex-direction: row;
        align-items: unset;
    }

    figure{
        text-align: unset;
    }

}